@import url('https://fonts.googleapis.com/css?family=Teko|Roboto:400,700');

$main-font: "Arimo", Arial, sans-serif;
$logo-font: "Teko", Arial, sans-serif;
$bg-color: #262626;
$header-text: #ffffff;
$light-text: #989898;
$action-color: #50b930;
$action-text: #ffffff;
$primary-color: #336eb2;
$primary-text: #ededed;

.app {
  font-family: $main-font;
}

.header {
  font-family: $logo-font;
  font-size: 26px;
  letter-spacing: .01em;
  background-color: $bg-color;
  color: $header-text;
  padding: 10px;
  margin-bottom: 15px;
  /*font-weight: bold;*/
}

.header__img {
  margin: -4px 2px 0 0;
}

.section {
  margin-top: 40px;
}

.form__button {
  width: 100%;
  background-color: $action-color;
  color: $action-text;
  font-weight: bold;
}

.form__select {
  font-size: 14px;
  opacity: 0;
  transition: 0.4s;
}

.form__input--full.form-control {
  width: 100%;
}

.form__prompt.alert-info {
  color: $light-text;
  font-size: 14px;
  background-color: #ededed;
  border: 1px solid #dddddd;
}

.form__pipe {
  color: $light-text;
  font-weight: normal;
}

.infobox {
  opacity: 0;
  transition: 0.4s;
  clear: both;
  font-size: 14px;
}

.infobox.form-control {
  height: auto;
}

.infobox__image {
  width: 100%;
}

.infobox__image img {
  height: auto;
  width: 100%;
}

.infobox__imagectrl {
  clear: both;
  text-align: center;
}

.infobox__button {
  float: left;
  background-color: $primary-color;
  color: $primary-text;
}

.infobox__button:last-of-type {
  float: right;
}

.infobox__counter {
  display: inline;
  line-height: 32px;
  color: $light-text;
  font-size: 12px;
}
